
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.form{
    justify-content: center;
    display: flex;
    margin: 250px;
    align-items: center;
}

.table{
    border: 1px solid;
}

